@font-face
  font-family: "Meslo LG"
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local("Meslo LG S Regular"), local("MesloLGS-Regular"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-family: "Meslo LG"
  font-style: italic
  font-weight: 400
  font-display: swap
  src: local("Meslo LG S Italic"), local("MesloLGS-Italic"), url("../lib/meslo-LG/MesloLGS-Italic.ttf") format("truetype")

@font-face
  font-family: "Meslo LG"
  font-style: normal
  font-weight: 700
  font-display: swap
  src: local("Meslo LG S Bold"), local("MesloLGS-Bold"), url("../lib/meslo-LG/MesloLGS-Bold.ttf") format("truetype")

@font-face
  font-family: "Meslo LG"
  font-style: italic
  font-weight: 700
  font-display: swap
  src: local("Meslo LG S Bold Italic"), local("MesloLGS-BoldItalic"), url("../lib/meslo-LG/MesloLGS-BoldItalic.ttf") format("truetype")

@font-face
  font-family: "JetBrains Mono"
  font-style: normal
  font-weight: 500
  font-display: swap
  src: local("JetBrains Mono Medium"), local("JetBrainsMono-Medium"), url("../lib/jetbrains-mono/jetbrains-mono-latin-500-normal.woff2") format("woff2"), url("../lib/jetbrains-mono/jetbrains-mono-latin-500-normal.woff") format("woff")

@font-face
  font-family: "JetBrains Mono"
  font-style: italic
  font-weight: 500
  font-display: swap
  src: local("JetBrains Mono Medium Italic"), local("JetBrainsMono-MediumItalic"), url("../lib/jetbrains-mono/jetbrains-mono-latin-500-italic.woff2") format("woff2"), url("../lib/jetbrains-mono/jetbrains-mono-latin-500-italic.woff") format("woff")

@font-face
  font-family: "JetBrains Mono"
  font-style: normal
  font-weight: 700
  font-display: swap
  src: local("JetBrains Mono Bold"), local("JetBrainsMono-Bold"), url("../lib/jetbrains-mono/jetbrains-mono-latin-700-normal.woff2") format("woff2"), url("../lib/jetbrains-mono/jetbrains-mono-latin-700-normal.woff") format("woff")

@font-face
  font-family: "JetBrains Mono"
  font-style: italic
  font-weight: 700
  font-display: swap
  src: local("JetBrains Mono Bold Italic"), local("JetBrainsMono-BoldItalic"), url("../lib/jetbrains-mono/jetbrains-mono-latin-700-italic.woff2") format("woff2"), url("../lib/jetbrains-mono/jetbrains-mono-latin-700-italic.woff") format("woff")
