$color-background = #F3F5F2;

$color-footer-mobile-1 = darken($color-background, 2%);
$color-footer-mobile-2 = darken($color-background, 10%);
$color-background-code = darken($color-background, 3%);

$color-border      = #6F8F7A;
$color-scrollbar   = #3F5448;

$color-meta        = #A1B7AB;
$color-meta-code   = lighten($color-meta, 10%);

$color-link        = rgba(65, 120, 95, 0.45);
$color-text        = #2C3B31;

$color-accent-1    = #6F8F7A;
$color-accent-2    = rgba(111, 143, 122, .25);
$color-accent-3    = #B4C8BC;

$color-quote       = #6F8F7A;

$highlight = hexo-config("highlight") || "github";
