$color-background = #EDF1D6
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #609966
$color-scrollbar = #40513B
$color-meta = #9DC08B
$color-meta-code = lighten($color-meta, 10%)
$color-link = rgba(60, 180, 0, 0.4)
$color-text = #40513B
$color-accent-1 = #609966
$color-accent-2 = rgba(157, 192, 139, .8)
$color-accent-3 = #9DC08B
$color-quote = #609966
$highlight = hexo-config("highlight") || "github"
