$color-background = #F7F8F3;

$color-footer-mobile-1 = darken($color-background, 2%);
$color-footer-mobile-2 = darken($color-background, 10%);
$color-background-code = darken($color-background, 3%);

$color-border    = #7DA87A;
$color-scrollbar = #506C48;

$color-meta      = #A2BCA0;
$color-meta-code = lighten($color-meta, 12%);

$color-link      = rgba(80, 140, 60, 0.5);
$color-text      = #3E4D36;

$color-accent-1  = #7DA87A;
$color-accent-2  = rgba(125, 168, 122, .25);
$color-accent-3  = #A8C9A4;

$color-quote     = #7DA87A;

$highlight = hexo-config("highlight") || "github";
