<footer id="footer">
  <div class="footer-left">
    &copy; <%= new Date().getFullYear() %> <%= config.author || config.title %>
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        <li><a href="mailto:me@eliranturgeman.com">Email</a></li>
        <li><a href="https://github.com/Eliran-Turgeman" target="_blank" rel="noopener me">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/eliran-turgeman/" target="_blank" rel="noopener me">LinkedIn</a></li>
      </ul>
    </nav>
  </div>
</footer>
